.body{
    background-color: gray;
}

.myForm{
    margin: auto;
    width: 80%;
    background-color: #99ff82;
    text-align: center;
    padding: 20px;
    border-radius: 13px;
}

.mybtn{
    width: 10%;
    background-color: azure;
    border-radius: 5px;
    display: inline-block;
    border: azure;
}

.text-right1{
    background-color: azure;
    border-radius: 20px;
    text-align: left;
}

.text-left1{
    background-color: azure;
    border-radius: 20px;
    text-align: left;
}


.footer{
    background-color: #bfff9a;
    font-size: large;
    border-radius: 10px;
    text-decoration-color: azure;
    margin-bottom: 10px;
}

.header-deco{
    background-color: #bfff9a;
    border-radius: 20px;
    padding: 15px;

}
h1.header-deco{
    text-decoration-color: azure;
}

.formfield{
border-radius: 5px;
    border: #d6d7ff;

}
.btn btn-primary{
    padding: 13px;
}


